[Unit]
Description=Run random wallpaper script every 2 hours

[Timer]
OnBootSec=5m
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
